* {
    margin: 0;
    padding: 0;
  }
  .container-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .imei-bloqueados-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
  }
  .imei-bloqueados-container > div {
    margin: 4px;
    width: 400px;
    padding: 40px;
    margin-left: 40px;
    border-radius: 15px;
  }
  
  .container-imei-iloqueados {
    background-color: rgb(227, 238, 240);
  }
  
  .container-form-bloqueados {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .container-form-bloqueados > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .container-form-bloqueados > div > label {
    font-size: 20px;
    margin-right: 20px;
  }
  .container-form-bloqueados > div > input {
    border: 1px solid #d4c9c9;
    outline: none;
    border-radius: 7px;
    height: 30px;
    border-bottom: 1px solid #746868;
    width: 70%;
  }
  .container-form-bloqueados > button {
    margin-top: 20px;
    background-color: #5fb872;
    outline: none;
    border: 0;
    border-radius: 7px;
    height: 30px;
    cursor: pointer;
  }
  
  .container-form-bloqueados > button:active {
    transform: scale(0.95);
  }
  
  .mensaje-error {
    padding: 20px;
    background-color: #fdc570;
    width: 250px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    display: none;
  }
  .mensaje-error > p {
    color: rgb(189, 55, 55);
    font-size: 20px;
    font-weight: 600;
  }
  
  .isvisible-error-message {
    display: block;
  }
  
  .imei-bloqueados-container{
      margin-top: 100px;
  
  }
  
  .imei-bloqueados-table {
    width: 500px;
  }
  .container-table-imei-bloqueados > h2{
   margin-bottom: 30px;
  }
  
  .imei-bloqueados-table > thead {
    background-color: red;
    height: 40px;
    background-color: rgb(194, 222, 241);
  }
  .imei-bloqueados-table > thead > tr > th {
    border-radius: 7px;
    font-size: 18px;
  }
  
  .imei-bloqueados-table > tbody {
    text-align: center;
  }
  
  .imei-bloqueados-table > tbody > tr > td {
    padding: 10px;
    border-bottom: 2px solid rgba(156, 189, 226, 0.397);
  }